<h1>Recomendaciones</h1>

<% @recomendaciones.each do |recomendacion| %>

    <div class="card mb-5">
    <div class="card-body">
        <!-- Encabezado -->
        <div class="row">
            <div class="col-8">
                <h2 class="card-title"><%= recomendacion.titulo %></h2>
            </div>
            <div class="col">
                Autor: <%= recomendacion.user.email %>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col overflow">
                <p class="card-text"><%= recomendacion.contenido.first(150) %>...</p>
                <%= link_to 'Continuar leyendo', recomendacion, class: "btn btn-primary" %>
            </div>
            <% if current_user.nil? %>
            <% elsif recomendacion.es_mi_autor?(current_user) %>
                <div class="col-2">
                    <!-- Botones -->
                    <div class="row">

                        <div class="col-12">
                            <%= link_to 'Editar', edit_recomendacion_path(recomendacion), class: "btn btn-primary" %>
                        </div>
                        <div class="col-12">
                            <%= link_to 'Eliminar', recomendacion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div><!-- Card-Body -->
    </div><!-- Card -->
<% end %>

<div class="row">

    <div class="col-4">
        <%= link_to 'Crear Nueva Recomendación', new_recomendacion_path, class: "btn btn-success" %>
    </div>

    <div class="col">
        <div class="digg_pagination">
            <%= will_paginate @recomendaciones %>
        </div>
    </div>

</div>