<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <!-- Menú -->
      <div class="row mt-2">
        <div class="col-1">
          <%= link_to "Inicio", root_path, class: "btn btn-purple" %>
        </div>

        <% if current_user %>
          <div class="col-3">
            <%= link_to "Mis recomendaciones", recomendaciones_path, class: "btn btn-purple" %>
          </div>
        <% end %>

        <div class="col"></div>

        <div class="col-2">
          <% if current_user.nil? %>
            <%= link_to "Iniciar sesión", new_user_session_path, class: "btn btn-light" %>
          <% else %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>
      <!-- Menú -->

      <%= yield %>
    </div>

  </body>
</html>
